html, body {
	min-width: 100%;
	min-height: 100%;
	padding: 0 !important;
	margin: 0 !important;
	background-color: #fafafa;
}

body.loading {
	overflow: hidden;
}

/*Default anchors and buttons*/
a,
a.visited {
	color: #469af0;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color: #f04646;
	text-decoration: none;
}
.btn {
	padding: 0.2em 1em;
	font-size: 1.1em;
	color: #fff;
	border: none;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	display: inline-block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.btn.btn-default {
	background-color: #333;
}

.btn.btn-primary {
	background-color: #f04646;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
	background-color: #469af0;
	color: #fff;
}

* {
	outline: none !important;
}
textarea {
	resize: vertical;
}
/* Global */
.height-full {
	height: 100%;
}
.form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0.5em 0;
}
.col-table {
	display: table-cell !important;
	vertical-align: middle !important;
	float: none !important;
}
div.tooltip {
	z-index: 9999;
}
.padding-10 {
	padding: 10px;
}
.padding-15 {
	padding: 15px;
}
.padding-20 {
	padding: 20px;
}
.margin-10 {
	margin: 10px;
}
.margin-15 {
	margin: 15px;
}
.margin-20 {
	margin: 20px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-20 {
	margin-top: 20px;
}
.no-margin-right {
	margin-right: 0;
}
.no-margin-left {
	margin-left: 0;
}
.no-margin-top {
	margin-top: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.no-padding {
	padding: 0 !important;
}
.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}
.no-padding-top {
	padding-top: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.no-margin {
	margin: 0 !important;
}
.clearfix {
	clear: both;
	width: 100%;
	display: block;
	padding: 0 !important;
	margin: 0 !important;
}
/* Scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #2E2E2E;
	border: 0px none #fafafa;
}
::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background: #000;
}
::-webkit-scrollbar-thumb:active {
	background: #000;
}
::-webkit-scrollbar-track {
	background: #fafafa;
	border: 0px none #fff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	cursor: pointer;
	background: #fafafa;
}
::-webkit-scrollbar-track:active {
	background: #fafafa;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* PAGE CONTAINER */
.page-content-wrapper {
	/*-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);*/
	/*-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);*/
	/*box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);*/
	background-color: transparent;
	padding-top: 2em;
}
.container {
	padding: 0 !important;
}
.container.animate {
	-webkit-animation: zoomInDown 500ms ease-in 0ms both;
	-moz-animation: zoomInDown 500ms ease-in 0ms both;
	-o-animation: zoomInDown 500ms ease-in 0ms both;
	-ms-animation: zoomInDown 500ms ease-in 0ms both;
	animation: zoomInDown 500ms ease-in 0ms both;
}
/*HEADER*/
.head-main {
	margin: 20px 0 15px 0;
}
.logo {
	position: relative;
	font-size: 1em;
}
.logo img {
	margin-top: 0.2em;
	/*max-width: 250px;*/
}
.heart {
	float: right;
}
/*NAVIGATION*/
#menu {
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
}
#menu ul {
	margin: 20px 0 0 0;
	padding: 0;
}
@media only screen and (min-width: 64em) {
	#menu ul ul,
	#menu ul ul ul {
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	}
}
#menu .main-menu {
	display: none;
}
#tm:checked + .main-menu {
	display: block;
}
#menu input[type="checkbox"],
#menu ul span.drop-icon {
	display: none;
}
#menu li,
#toggle-menu,
#menu .sub-menu {
	border-style: solid;
	border-color: rgba(0, 0, 0, .05);
}
#menu li,
#toggle-menu {
	border-width: 0 0 1px;
}
#menu .sub-menu {
	background-color: #444;
	border-width: 1px 1px 0;
	margin: 0 1em;
}
#menu .sub-menu li:last-child {
	border-width: 0;
}
#menu li,
#toggle-menu,
#menu a {
	position: relative;
	display: block;
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}
#menu,
#toggle-menu {
	background-color: #333;
}
#toggle-menu,
#menu a {
	padding: 1em 1.5em;
	font-size: 0.8em;
	text-transform: uppercase;
}
#menu a {
	transition: all .225s ease-in-out;
	-webkit-transition: all .225s ease-in-out;
	-moz-transition: all .225s ease-in-out;
	-ms-transition: all .225s ease-in-out;
	-o-transition: all .225s ease-in-out;
}
#menu a:hover,
#menu a:focus {
	background-color: #469af0;
	color: #fff;
	text-decoration: none;
}
#menu .main-category {
	font-size: 14px;
	padding: 1.2em 1.5em;
}
#menu .sub-menu {
	display: none;
}
#menu input[type="checkbox"]:checked + .sub-menu {
	display: block;
}
#menu .sub-menu a:hover,
#menu .sub-menu a:focus {
	color: #fff;
	text-decoration: none;
}
#toggle-menu .drop-icon,
#menu li label.drop-icon {
	position: absolute;
	right: 1.5em;
	top: 1.25em;
}
#menu ul li ul li span.drop-icon {
	display: block;
	float: right;
}
#menu ul span.drop-icon {
	margin-left: 1.5em;
}
#menu label.drop-icon i {
	font-size: 12px;
}
#menu label.drop-icon, #toggle-menu span.drop-icon {
	float: right;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	text-align: center;
	background-color: rgba(0, 0, 0, .125);
	text-shadow: 0 0 0 transparent;
	color: rgba(255, 255, 255, .75);
}
#menu .drop-icon {
	line-height: 1;
}
@media only screen and (max-width: 64em) {
	#menu ul li ul li span.drop-icon {
		display: none;
	}
}
@media only screen and (max-width: 64em) and (min-width: 52.01em) {
	#menu li {
		/*width: 33.333%;*/
	}
	#menu .sub-menu li {
		width: auto;
	}
}
@media only screen and (min-width: 52em) {
	#menu .main-menu {
		display: block;
	}
	#toggle-menu,
	#menu label.drop-icon {
		display: none;
	}
	#menu ul span.drop-icon {
		display: inline-block;
	}
	#menu li {
		float: left;
		border-width: 0 1px 0 0;
	}
	#menu .sub-menu li {
		float: none;
	}
	#menu .sub-menu {
		border-width: 0;
		margin: 0;
		position: absolute;
		top: 100%;
		left: 0;
		width: 15em;
		z-index: 3000;
	}
	#menu .sub-menu,
	#menu input[type="checkbox"]:checked + .sub-menu {
		display: none;
	}
	#menu .sub-menu li {
		border-width: 0 0 1px;
	}
	#menu .sub-menu .sub-menu {
		top: 0;
		left: 100%;
	}
	#menu li:hover > input[type="checkbox"] + .sub-menu {
		display: block;
	}
}
/* Breadcrumbs */
.breadcrumb {
	background-color: #f7f7f7;
}
.breadcrumb.product {
	padding: 0.5em;
}
.breadcrumb ul li {
	line-height: 24px;
}
.breadcrumb li:first-child {
	font-size: 24px;
}
/* Product Page */
.call_us div {
	margin: 0.5em;
	display: inline-block;
}
.call_us div:first-child {
	vertical-align: top;
}

.call_us i {
	font-size: 64px;
	color: #f04646;
	vertical-align: middle;
}
.call_us span {
	color: #469af0;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	display: inline-block;
}
.call_us span:last-child {
	font-size: 18px;
	font-weight: 600;
}
.product-image-zoom {
	margin: 10px 0;
	padding: 0.5em;
	width: 100%;
	text-align: center;
	background-color: #f04646;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	display: block;
}
.product-image-zoom:hover,
.product-image-zoom:active,
.product-image-zoom:focus {
	background-color: #469af0;
	text-decoration: none;
	color: #fff;
}

div.single p.product-id {
	font-size: 1.3em;
	font-weight: bold;
}
div.single div.price_single {
	padding: 0;
}

div.single div.price_single h5,
div.single div.sizes h5,
div.single div.quantity h5 {
	font-size: 1.5em;
	margin-bottom: 0.7em;
}
div.single div.price_single h5 {
	display: inline-block;
	margin-right: 0.5em;
	padding: 0;
}
div.single div.price_single p{
	display: inline-block;
}

button.delivery_type,
button.delivery_type:hover,
button.create-order,
button.create-order:hover,
div.single div.sizes button,
div.single div.sizes button:hover {
	padding: 0.2em 1em;
	font-size: 1.1em;
	color: #fff;
	background-color: #f04646;
	border: none;
	display: block;
	float: left;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	margin: 0 0.5em 1em 0;
}

button.delivery_type.active,
button.delivery_type:active,
button.delivery_type:focus,
button.create-order.active,
button.create-order:active,
button.create-order:focus,
div.single div.sizes button.active,
div.single div.sizes button:active,
div.single div.sizes button:focus {
	background-color: #469af0;
}

button.delivery_type.active:hover,
button.create-order.active:hover,
div.single div.sizes button.active:hover {
	background-color: #f04646;
}

button.delivery_type,
button.create-order.disabled,
div.single div.sizes button.disabled,
div.single a.add-to-cart.disabled,
.quantity .rem.disabled,
.quantity .add.disabled {
	background-color: #333;
}

.quantity .rem,
.quantity .add {
	background-color: #469af0;
	padding: 0.5em 1.5em;
	margin-right: 3px;
	font-size: 0.9em;
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #fff;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	border: 1px solid #b2b2b2;
	vertical-align: bottom;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.quantity .rem:hover,
.quantity .add:hover {
	background-color: #f04646;
}

.quantity .val {
	padding: 0.5em 1.5em;
	font-size: 1.1em;
	font-weight: bolder;
	display: inline-block;
	cursor: pointer;
	position: relative;
}

.quantity i {
	color: #fff;
}

div.single .product-main-info {
	padding: 5px 0;
}

.cart-holder button.action-bttn,
.cart-holder button.action-bttn:visited,
div.single a.add-to-cart,
div.single a.add-to-cart:visited {
	background-color: #469af0;
	padding: 0.3em 1em;
	margin-right: 3px;
	font-size: 1.3em;
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #fff;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	border: 1px solid #b2b2b2;
	vertical-align: bottom;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.cart-holder button.action-bttn:hover,
.cart-holder button.action-bttn:active,
.cart-holder button.action-bttn:focus,
div.single a.add-to-cart:hover,
div.single a.add-to-cart:active,
div.single a.add-to-cart:focus {
	text-decoration: none;
	background-color: #f04646;
}

div.single a.add-to-cart i {
	font-size: 1.2em;
}

/*TABS*/
.tabs li a {
	color: #333;
}
.tab-pane {
	font-size: 0.8em !important;
}
.tab-pane ul {
	padding: 1em 2em;
}
/* Dimensions table */
table.dimensions-table {
	border-collapse: collapse;
	margin: 0;
}
table.dimensions-table th {
	border-top: 1px solid #dedede !important;
	font-size: 1.1em !important;
	font-weight: 400 !important;
}
table.dimensions-table th,
table.dimensions-table td.title {
	font-weight: bold;
	color: #00a0e3;
}
table.dimensions-table th.image {
	width: 148px;
	border: none !important;
}
table.dimensions-table th.image img {
	max-width: 128px;
	margin: 0 10px;
}
table.dimensions-table th,
table.dimensions-table td {
	border: 1px solid #dedede;
	text-align: center;
	line-height: 24px;
}
/* PAGES */
.content-mid {
	margin-bottom: 10px;
	padding: 20px 10px;
}
/* CATEGORY */
.category-holder {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	margin-bottom: 30px;
}
.category-holder .category-heading h1 {
	font-size: 2.5em;
	color: #000000;
	line-height: 1.8em;
	font-family: 'Open Sans Semibold', sans-serif;
	text-align: center;
	margin-top: 20px;
}
.category-holder .category-description {
	padding: 30px 10px;
}
.category-holder .category-description p {
	font-size: 0.9em;
}
.category-holder .filters {

}
.category-holder .filter {
	margin-top: 10px;
}
.category-holder .filter select,
.category-holder .filter select option {
	cursor: pointer;
}
/* Products */
.products-holder {
	margin-bottom: 30px;
	padding: 10px;
}
.mid-pop {
	border: none !important;
}
.mid-pop .pro-img {
	border: 1px solid #EFECEC;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.zoom-icon .icon {
	background: #333;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.zoom-icon a {
	text-decoration: none;
}
.zoom-icon .icon:hover {
	background-color: #469af0;
	color: #fff;
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
}
.zoom-icon .glyphicon-menu-right {
	color: #fff;
}
a.quick_buy {
	background-color: #469af0;
	color: #fff;
	font-size: 22px;
	text-align: center;
	padding: 0.2em 1.0em;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
a.quick_buy:hover,
a.quick_buy:focus {
	background-color: #f04646;
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.cart-container .totals span,
.check-out .totals span,
.cart-header td.subtotal p,
.cart-header p.size,
.cart-header p.quantity,
em.item_price {
	font-size: 1.2em;
	color: #469af0;
	line-height: 32px;
	font-weight: bold;
	display: inline-block;
	margin: 0 !important;
	letter-spacing: 1px;
}
.cart-container .totals span {
	margin-right: 0;
}
em.item_old_price {
	font-size: 16px;
	color: #f04646;
	line-height: 18px;
	font-weight: 100;
	text-decoration: line-through;
	display: inline-block;
	letter-spacing: 1px
}
em.item_discount {
	font-size: 18px;
	color: #469af0;
	line-height: 18px;
	font-weight: 100;
	display: inline-block;
	letter-spacing: 1px
}
em.item_discount span {
	color: #f04646;
}
/* Product Page */
.zoomWindowContainer > div {
	z-index: 11 !important;
	background-color: #fafafa;
}
.out_of_stock {
	margin-top: 1em;
}
.out_of_stock h5 {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #f04646;
}
.out_of_stock h6 {
	font-size: 1.1em;
	text-transform: uppercase;
	color: #469af0;
	margin-top: 0.5em;
}
/* Pagination */
#pagination ul {
	/*margin: 0 auto 20px auto;*/
}
/* FLEX SLIDER */
.flexslider {
	border: none !important;
	/*border: 20px solid #fff !important;*/
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	z-index: 5;
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
}
.flexslider ul.slides li {
	position: relative;
	box-sizing: border-box;
}
.flexslider ul.slides li .captions {
	visibility: hidden;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
}
.flexslider ul.slides li.top-right .captions,
.flexslider ul.slides li.bottom-right .captions {
	text-align: right;
	width: 100%;
}
.flexslider ul.slides li .captions-holder {
	position: absolute;
	padding: 0.5em 1em 0.2em 1em;
}
.flexslider ul.slides li.flex-active-slide .captions {
	visibility: visible;
	width: 100%;
	height: 100%;
}
.flexslider ul.slides li.top-left .captions-holder {
	top: 1em;
}
.flexslider ul.slides li.top-right .captions-holder {
	top: 1em;
}
.flexslider ul.slides li.bottom-left .captions-holder {
	bottom: 1em;
}
.flexslider ul.slides li.bottom-right .captions-holder {
	bottom: 1em;
}
.flexslider ul.slides li.flex-active-slide.top-left .captions-holder,
.flexslider ul.slides li.flex-active-slide.bottom-left .captions-holder {
	text-align: left;
	left: 1em;
	right: auto;
	display: inline;
	-webkit-animation: fadeInRight 500ms linear 250ms both;
	-moz-animation: fadeInRight 500ms linear 250ms both;
	-o-animation: fadeInRight 500ms linear 250ms both;
	-ms-animation: fadeInRight 500ms linear 250ms both;
	animation: fadeInRight 500ms linear 250ms both;
}
.flexslider ul.slides li.flex-active-slide.top-right .captions-holder,
.flexslider ul.slides li.flex-active-slide.bottom-right .captions-holder {
	text-align: right;
	right: 1em;
	left: auto;
	display: inline;
	-webkit-animation: fadeInLeft 500ms linear 250ms both;
	-moz-animation: fadeInLeft 500ms linear 250ms both;
	-o-animation: fadeInLeft 500ms linear 250ms both;
	-ms-animation: fadeInLeft 500ms linear 250ms both;
	animation: fadeInLeft 500ms linear 250ms both;
}
.flex-caption {
	width: auto;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
	font-size: 42px;
	line-height: 42px;
	display: inline-block;
	text-transform: uppercase;
}
.flex-sub-caption {
	width: auto;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	font-size: 22px;
	line-height: 22px;
	display: inline-block;
	margin: 1em 0;
}
.flexslider a.action-btn {
	width: auto;
	padding: 0.5em 1em;
	color: #fff;
	border: 2px solid #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	display: none;
	margin-top: 1em;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	text-decoration: none;
	-webkit-animation: zoomIn 500ms linear 750ms both;
	-moz-animation: zoomIn 500ms linear 750ms both;
	-o-animation: zoomIn 500ms linear 750ms both;
	-ms-animation: zoomIn 500ms linear 750ms both;
	animation: zoomIn 500ms linear 750ms both;
}
.flexslider a.action-btn:hover,
.flexslider a.action-btn:active,
.flexslider a.action-btn:focus {
	-webkit-box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.5);
}
.flexslider a.action-btn.default {
	border: none !important;
	background: rgba(240, 70, 70, 1);
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	display: none;
}
.flexslider ul.slides li.flex-active-slide a.action-btn {
	display: inline-block;
}
.flexslider a.action-btn.default:hover,
.flexslider a.action-btn.default:focus {
	background: rgba(70, 154, 240, 1);
}
@media only screen and (max-width: 1024px) {
	.flex-caption {
		font-size: 22px;
	}
	.flex-sub-caption {
		font-size: 16px;
	}
}
@media only screen and (max-width: 768px) {
	.flex-caption {
		font-size: 18px;
	}
	.flex-sub-caption {
		font-size: 14px;
	}
}
@media only screen and (max-width: 480px) {
	.flex-caption {
		display: none;
	}
	.flex-sub-caption {
		display: none;;
	}
	.flexslider a.action-btn {
		font-size: 13px;
		line-height: 13px;
		padding: 0.5em 0.7em;
		margin: 0;
	}
	.flexslider .captions-holder {
		padding: 0;
	}
}
/* CAROUSEL */
.carousel-holder {
	margin-top: 2em;
	padding: 0;
}
.carousel .mid-pop {
	margin: 0 10px;
}
.carousel-holder em.item_old_price {
	font-size: 1em;
}
.category-holder em.item_price,
.carousel-holder em.item_price,
.carousel-holder em.discount {
	margin: 0;
	font-size: 1.5em;
}

/* PAGE HEADER */
.header {
	background-color: #fafafa;
	z-index: 6;
	position: relative;
	overflow: visible !important;
	-webkit-animation: fadeIn 500ms ease-in 0ms both;
	-moz-animation: fadeIn 500ms ease-in 0ms both;
	-o-animation: fadeIn 500ms ease-in 0ms both;
	-ms-animation: fadeIn 500ms ease-in 0ms both;
	animation: fadeIn 500ms ease-in 0ms both;
	margin-bottom: 0.5em;
}

.header.no-animate .container {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

.header .logo {
	margin-top: 0.2em;
	display: block;
}

.header .logo img {
	margin: auto;
}

.header .header-cart {
	margin: 0.5em 0 0 0;
	display: inline-block;
	float: none
}

.header .header-cart a,
.header .header-cart a:visited {
	color: #333;
	display: inline-block;
	vertical-align: top;
}

.header .header-cart a:hover,
.header .header-cart a:active,
.header .header-cart a:focus {
	text-decoration: none;
}

.header .header-cart img {
	margin: 0.5em;
}

.header .search {
	width: auto;
	padding: 0.9em 0;
}

.header .search input {
	display: inline-block;
	margin: 0.1em 0 0 0;
	padding: 0.2em 0.4em;
	text-transform: uppercase;
}

.header .search button {
	display: inline-block;
	background: #333;
	padding: 0.3em 0.4em;
	margin-left: -10px;
	border: 1px solid #DDDDDD;
}

.header .search i {
	color: #fff;
	font-size: 1em;
	line-height:20px;
}

/*FIEX HEADER*/
@media only screen and (min-width: 768px) {
	.header-fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 8;
		-webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
		-webkit-animation: slideInDown 400ms ease-in-out 0ms both;
		-moz-animation: slideInDown 400ms ease-in-out 0ms both;
		-o-animation: slideInDown 400ms ease-in-out 0ms both;
		-ms-animation: slideInDown 400ms ease-in-out 0ms both;
		animation: slideInDown 400ms ease-in-out 0ms both;
	}
	.header-fixed > .header-top {
		display: none;
	}
	.header-fixed .head-main {
		/*margin: 25px 0 0 0;*/
	}
	.header-fixed #menu {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
}
/* PAGE FOOTER */
div.footer,
div.footer-bottom {
	-webkit-box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.25);
}
div.footer.sticky {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
div.footer {
	color: #fff !important;
	margin-top: 100px;
}
div.footer h1,
div.footer h2,
div.footer h3,
div.footer h4,
div.footer h5,
div.footer h6 {
	color: #fff !important;
}
/*Loading overlay*/
.loadingOverlayInit {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../images/loading.gif");
	background-color: rgb(255, 255, 255);
	background-size: 80px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 9999;
	overflow: hidden;
}

/*CHECKOUT*/
.checkout-preview ,
.cart-container,
.check-out {
	padding: 2em 0;
}

.cart-container img.img-responsive,
.cart-container img.img-responsive {
	max-width: 150px;
}

.totals {
	text-align: right;
}

.totals h3 {
	display: block;
}

.totals div.values table {
	width: auto;
	float: right;
}

.cart-container table th {
	vertical-align: bottom !important;
}
.totals div.values table td {
	padding: 5px;
}

.totals div.values h3 {
	display: inline;
	width: auto;
	color: #333;
}

.totals div.values span {
	display: inline;
}

.totals div.values span.delivery_price_free {
	color: #f04646;
	text-transform: uppercase;
	font-size: 1em;
	line-height: 1em;
}

.checkout-preview .information {
	background-color: #fff;
	padding: 2em;
	font-weight: bold;
}

.checkout-preview .information h4 {
	color: #469af0;
	margin-top: 0.5em;
}

/*TABLES*/
.table-striped:not(.ajax) > tbody > tr {
	background-color: #f2f2f2;
}
.table-striped.ajax > tbody > tr {
	background-color: #fff;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #fafafa !important;
}


/*CART*/
.cart-holder th {
	font-size: 0.9em;
	text-align: center;
}
.cart-holder .ring-in {
	width: 25%;
}
.cart-header div.quantity {
	margin: 0 !important;
	float: none;
}

.cart-header .val {
	padding: 0.4em 1em;
}

.cart-holder .action-bttns button {
	padding: 0.3em 0.6em;
}

@media only screen and (min-width:768px) {
	.cart-holder a.at-in {
		min-width: 150px;
	}
}

/* Modals */
.modal-backdrop {
	z-index: 9;
}
.modal {
	z-index: 10;
}
#quick_buy_modal .modal-dialog {
	width: 90%;
}

@media only screen and (min-width:768px) {
	#cart .modal-dialog,
	#quick_buy_modal .modal-dialog {
		width: 80%;
	}
}

@media only screen and (min-width:1440px) {
	#quick_buy_modal .modal-dialog {
		width: 1140px;
	}

	#cart .modal-dialog {
		width: 1140px;
	}
}

#cart .modal-content,
#quick_buy_modal .modal-content {
	height: auto;
	min-height: 100%;
	border-radius: 0;
}

.modal-dialog {
	-webkit-animation: zoomIn 500ms ease-in-out 1000ms both;
	-moz-animation: zoomIn 500ms ease-in-out 1000ms both;
	-o-animation: zoomIn 500ms ease-in-out 1000ms both;
	-ms-animation: zoomIn 500ms ease-in-out 1000ms both;
	animation: zoomIn 500ms ease-in-out 1000ms both;
}

#cart .modal-header h4,
#quick_buy_modal .modal-header h4 {
	font-size: 1.4em;
	text-align: center;
	text-transform: uppercase;
}

#cart .modal-header i.fa,
#quick_buy_modal .modal-header i.fa {
	font-size: 1.4em;
}

.order-completed {
	background-color: #0a6aa1;
	color: #fff;
	width: 100%;
	padding: 2em 1em;
	text-align: center;
}

.order-completed .text {
	margin-top: 0.7em;
}

.order-completed h1 {
	font-size: 2em;
}

.order-completed h3 {
	font-size: 1.2em;
	margin-top: 1em;
}

.order-completed i {
	display: block;
	font-size: 6em;
}

/* DATA TABLE */
.table-bordered td {
	color: #333;
	text-align: center;
}

.table-bordered th {
	text-align: center;
}

#orders_wrapper .form-control {
	display: inline-block;
	margin: 0.5em;
}