body {
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

.page-boxed .page-footer .page-footer-inner {
	color: #fff;
	text-align: center;
	padding: 20px 0;
	width: 100%;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

label.default {
	color: #999;
	font-size: 20px;
	font-weight: 400;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li.disabled:hover {
	border-bottom: 4px solid #ccc;
}

.portlet.light > .portlet-title > .nav-tabs > li.disabled > a {
	cursor: not-allowed;
}

textarea
{
    resize:vertical !important
}

table.dimensions-table {
	border-collapse: collapse;
}

table.dimensions-table th,
table.dimensions-table td.title {
	font-weight: bold;
	color: #00a0e3;
}

table.dimensions-table th.image {
	width: 148px;
	border: none;
}

table.dimensions-table th.image img{
	max-width: 128px;
	margin: 0 10px;
}

table.dimensions-table th,
table.dimensions-table td {
	border: 1px solid #ccc;
	text-align: center;
	line-height: 24px;
}

.select2-container-multi .select2-choices {
	min-height: 42px;
	line-height: 32px;
}

.bootbox-remove-bs {
	background: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	width: auto !important;
}